<h2>Тест изображений</h2>

<div style="text-align: center;">
    <img id="test-img" style="max-width: 100%; max-height: 500px; border: 1px solid #ccc;">
</div>

<script>
    function loadImage() {
        fetch('/api/last-image/')
            .then(r => r.json())
            .then(data => {
                if (data.filename) {
                    document.getElementById('test-img').src = '/downloads/screens/' + data.filename + '?t=' + Date.now();
                    console.log('Загружено:', data.filename);
                }
            });
    }
    
    loadImage();
    setInterval(loadImage, 3000);
</script>
